body {
    background-color: azure;
}

div {
    max-width: 500px;
    margin: auto;
    border: 4px solid rgb(216, 169, 109);
    padding: 20px 15px 10px ;
    background-color: rgb(236, 225, 208);
}

h1 {
    margin: 0%;
    text-align: center;
}

a {
    color: black;
    display: block;
    margin: 5px;
    font-size: 20px;
}

img {
    height: auto;
    width: 400px;
}

li {
    margin: 20px 0;
}